@charset "ISO-8859-1";
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.add-btn .btn-default{
    float: right;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav /
  font-size: 28px; / Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.btn-default{
	float:right;
}
.logo{
	width : 100%
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 2px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
    margin-left: 170px;
    padding: 0px 30px;
    margin-top: 26px;
}

.sidenav .menu{
	padding:20px;
}

.sidenav .sub-menu{
	padding-left:15px;
}
.sidenav .sub-menu a{
font-size: 17px;
}
.sidenav li{
list-style: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.pdf-header{
	display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
}
.col-left , .col-right{
	flex:1;	
}
.col-middle{
	flex: 5;
    text-align: center;
}
.col-middle h1{
	color: #505050;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    font-family: auto;
}
.pdf-body{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-left: 20px;
}
 .body-col{
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.pdf-body .row{
	display: flex;
	width: 100%;
}
 .body-col h1{   
  	font-size: 18px;
    font-weight: 600;
    margin: 10px 0 10px 10px;
 }
 .button-submit input{
     background: url(/ExamProject/assets/img/imprimante.png) no-repeat center;
    width: 50px;
    height: 50px;
    background-size: 40px;
    border: none;
}
 .body-col h2{   
  	font-size: 17px;
  	margin: 10px 0;
 }
 .signature{
 	height:50px;
 }
 .pdf-footer{
 	float: right;
 	margin-top: 40px;
 }
 .table-bordered thead tr{
 	background-color: #dedede;
 }
 .table-bordered thead tr th{
 	font-size: 20px;
 }
 .pdf-footer h3{
 	font-weight: bold;
 }